body {
  background-color: #0D192C;
  font-family: "Outfit", sans-serif;
}

.card-component {
  margin: auto;
  margin-top: 20vh;
  background-color: #15263F;
  width: 350px;
  height: 596px;
  border-radius: 25px;
}

.equilibrium {
  position: relative;
  width: 302px;
  height: 302px;
  border-radius: 15px;
  margin: 24px;
}

.absolute-view {
  display: none;
}

.equilibrium:hover + .absolute-view {
  display: block;
  position: absolute;
  background-color: #00FFF880;
  width: 302px;
  height: 302px;
  align-content: center;
  border-radius: 15px;
  top: 210px;
  left: 810px;
}

.view {
  margin-left: 130px;
}

.card-component h2 {
  font-size: 22px;
  font-weight: 600;
  color: #FFFFFF;
  margin-top: -10px;
  margin-left: 24px;
  margin-right: 24px;
}

.card-component h2:hover {
  color: #00FFF8;
  cursor: pointer;
}

.card-component p {
  font-size: 18px;
  font-weight: 300;
  color: #8BACD9;
  margin-left: 24px;
  margin-right: 24px;
}

.nft-info {
  display: flex;
  justify-content: space-between;
  margin-left: 24px;
  margin-right: 24px;
}

.ETH {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ETH img {
  width: 11px;
  height: 18px;
  margin-right: -12px;
}

.ETH p {
  font-size: 16px;
  font-weight: 600;
  color: #00FFF8;
}

.time {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.time img {
  width: 16px;
  height: 16px;
}

.time p {
  font-size: 16px;
  color: #8BACD9;
  margin-left: 5px;
}

hr {
  margin-left: 24px;
  margin-right: 24px;
  border-color: #979797;
  height: 0px;
}

.artist-info {
  display: flex;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;
}

.artist-info img {
  width: 33px;
  height: 33px;
}

.artist-info p {
  margin-left: 10px;
  font-size: 16px;
  color: #8BACD9;
}

.artist-info span {
  color: #FFFFFF;
}

.artist-info span:hover{
  color: #00FFF8;
  cursor: pointer;
}

